
.chats {
    width: 100%;
    display: flex;
}
.chats__list {
    width: 25%;
    height: 95vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #EAEAEA;
}
.chats__list > button {
    width: 100px;
    height: 15px;
    margin: 10px 0 10px auto;
    border: none;
    background-color: transparent;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: right;
    color: #999999;
    /* text-decoration: none; */
}
.chats__profile {
    width: 100px;
    height: 15px;
    margin: 10px 0 10px auto;
    border: none;
    background-color: transparent;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: right;
    color: #999999;
    text-decoration: none;
}
.chats__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    width: 70%;
    padding: 10px 20px;
}
.chats__itemText {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: center;
    color: #999999;
    margin: auto 0;
}
