.chatContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  width: 70%;
  padding: 10px 20px;
}

.chatContent__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid var(--border-color);
}

.chatContent__user {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.chatContent__avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.chatContent__heading {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0%;
  color: var(--element-colorDark);
}

.chatConten__users {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--border-color);
}

.chatContent__listUsers{
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 5px 0;
  gap: 10px;
}

.chatConten__userPointHeading {
  margin: 0;
  align-self: center;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0%;
  color: var(--element-colorDark);
}

/* .chatConten__userPoint {
  display: flex;
  gap: 5px;
  padding: 3px 7px;
  border: 1px solid var(--element-color);
  border-radius: 20px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0%;
  color: var(--element-colorDark);
} */

.chatContent__menu {
  width: 34px;
  height: 34px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  background-image: url("../../../../../static/img/menuIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.chats__addUserForm {
  width: 35%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0;
  border-top: 1px solid var(--border-color);
}

.chats__addUserForm > .input {
  /* width: 70%; */
  width: calc(100% - 30px - 10px - 20px - 10px);
  border-radius: 30px;
}

.chats__addUserForm > .button {
  /* min-width: 30px; */
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  background-image: url("../../../../../static/img/addMessageIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.chatContent__messages {
  height: 80vh;
  list-style: none;
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: scroll;
}

.chatContent__footer {
  /* padding: 0 20px; */
  width: 70%;
  background-color: var(--element-backgroundLight);
  position: fixed;
  bottom: 0;
}

.chat__controlForm {
  /* width: calc(100% - 20px - 20px); */
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0;
  border-top: 1px solid var(--border-color);
}

.chat__controlForm > .input {
  /* width: 80%; */
  width: calc(100% - 30px - 10px - 20px - 10px);
  border-radius: 30px;
}

.chat__controlForm > .button {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  background-image: url("../../../../../static/img/addMessageIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
