.profile__button {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border-color);
    background-color: transparent;
    text-align: left;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0%;
    color: var(--element-backgroundDark);
}

.profile__button:hover {
    opacity: 0.8;
    cursor: pointer;
    border-bottom: 1px solid var(--border-colorDark);
}

.profile__button_red {
    color: var(--element-colorError);
}
